{% extends 'common/base1.0.html' %}
{% block title %}
    注册
{% endblock %}
{% from 'bootstrap/wtf.html' import quick_form %}
{% block page_content %}
    <div style="background-color: rgba(255,255,255,0.5);padding: 5px 10px">
    <h2 class="page-header">注册</h2>
    <div class="row">
        <div class="col-md-8"><img src="{{ url_for('static',filename='img/b.jpg', _external=True) }}" width="700px" height="400px"></div>
        <div class="col-md-4">
            {{ quick_form(form) }}
            <span style="position: center"><a href="{{ url_for('user.again_active',_external=True) }}">已有账户未激活？</a></span>
        </div>
    </div>
    <br>
    </div>
{% endblock %}