{% extends 'common/base1.0.html' %}
{% block title %}
    发表博客
{% endblock %}
{% from 'bootstrap/wtf.html' import quick_form %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
{% endblock %}

{% block scripts %}
    {{ super() }}

{% endblock %}
{% block page_content %}
    <div style="background-color: rgba(255,255,255,0.5);padding: 5px 3px">
<h2 class="page-header">增加分类</h2>
    <form action="" method="post">
        {{ form.csrf_token }}

            {{ form.categorys.label(style='font-size:16px;') }}
    &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-success" href=''>+</button>
        {{ form.categorys(class="form-control") }}
        <div class="checkbox" style="position: relative;left: 20px">
            {% for ctg in ctgs %}
            <label >
                <input type="checkbox" style="height: 20px" name="ctgs" value="{{ ctg.categorys }}"><font style="font-size: 20px">{{ ctg.categorys }} </font>
            </label>
            {% endfor %}
        </div>
        {% for err in form.categorys.errors %}
            <p style="color:red;">{{ err }}</p>
        {% endfor %}
        <br>

    </form>
    </div>
{% endblock %}